JXMLTool/dtd.dtd


<!-- TORNEO -->
<!ELEMENT torneo (participante+)>
<!ATTLIST torneo edicion CDATA #REQUIRED anteriorGanador CDATA #REQUIRED>
<!-- EDAD -->
<!ELEMENT edad (#PCDATA)>
<!-- PAIS -->
<!ELEMENT pais (#PCDATA)>
<!--NOMBRE -->
<!ELEMENT nombre (#PCDATA)>
<!-- PARTICIPANTE -->
<!ELEMENT participante (nombre, edad, pais, cabezaDeSerie?)>
<!ATTLIST participante idP ID #REQUIRED pareja CDATA #REQUIRED>
<!--- cabezaDeSerie -->
<!ELEMENT cabezaDeSerie EMPTY>