JXMLTool/dtd.dtd

<!ELEMENT pedido     (tractor)+>
<!ELEMENT tractor    (componente)+>
<!ELEMENT componente (fechaentrega?, (fragil|nofragil),
                      peso, numserie, kmmaximos?)>

<!ELEMENT fechaentrega (dia?, mes, anio)>
<!ELEMENT dia      (#PCDATA)>
<!ELEMENT mes      (#PCDATA)>
<!ELEMENT anio     (#PCDATA)>
<!ELEMENT fragil   EMPTY>
<!ELEMENT nofragil EMPTY >
<!ELEMENT peso     (#PCDATA)>
<!ATTLIST peso unidad CDATA #REQUIRED>
<!ELEMENT numserie  (#PCDATA)>
<!ELEMENT kmmaxDimos (#PCDATA)>
<!ATTLIST componente nombrefabricante CDATA #REQUIRED>